html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    /* background-color: black; */
}


/* ----------------------------global class-------------------------- */
a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

ul {
    list-style-type: none;
}

/* --------------x-------------global class--------------x----------- */


/* -------------------------navbar--------------------------- */
.nav {
    /* background-color: rgb(247, 245, 245); */
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    background-color: wheat;
}

.nav .nav-menu {
    justify-content: space-between;

}

/* .nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
} */

/* .nav .toggle-collapse .toggle-icons {

    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
} */

/* .nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    
} */

/* .collapse{
    height: 30rem;
} */

.nav .nav-item {
    display: flex;
    margin: 0;
    font-family: 'Space Mono', monospace;

}

.nav .nav-item .nav-link {
    padding: 1rem 1rem;
    font-size: 1.4rem;
    position: relative;

}

.nav .nav-item .nav-link a {
    color: rgb(33, 5, 32);
}

.nav .nav-item .nav-link a:hover {
    color: rgb(52, 9, 194);
    /* text-decoration:underline; */
    text-transform: uppercase;

}

.nav .nav-brand a {
    font-size: 2rem;
    padding: 1rem 0;
    display: block;
    font-family: 'Kalam', cursive;
    color: rgb(227, 20, 20);
    /* text-align: center; */
}

.nav .nav-brand a:hover {
    transform: scale(1.2);
}

.nav .nav-brand a .logo-g {
    color: rgb(40, 40, 135);
}


.nav .search-bar {
    padding: 1.4rem 0;

}

.nav .search-bar .search-border {
    border: 2px solid rgb(197, 104, 47);
    border-radius: 5px;

}

/* -------x----------x------navbar---------x---------x------- */

.home-articles {
    /* border: 2px solid black; */
    /* height: 1055px; */
    width: 90%;
    /* padding: 10px; */
    margin: auto;
    border-radius: 20px;
    background-color: rgb(237, 227, 227);
    margin-bottom: 10px;
    margin-top: 10px;
}

.home-article {
    display: flex;
    border: 2px solid rgb(225, 197, 197);
    /* padding: 50px; */
    margin: 50px;
    border-radius: 15px;
    color: black;
}
.home-article:hover{
    transform: scale(1.01);
    cursor: pointer;
    background-color: rgb(230, 211, 176);
}

.home-article-content {
    /* align-self: center; */
    margin: 25px;
    padding-left: 50px;

}

.home-article-content a {
    text-decoration: none;

}

.home-article-content h1 {
    /* align-self: center; */
    margin: 0;


}

.home-article img {
    width: 250px;
    border-radius: 15px;

}

.home-articles .featured {
    padding-left: 50px;
    padding-top: 30px;
}

/* .home-articles .home-article .home-article-img{
    width: 100px;
    
} */


/* -------x------blog section--------x------ */
/* ------------------footer----------------- */


/* ----------x--------footer--------x--------- */


footer {
    /* background-color: black;*/
    /* color: white; */
    bottom: 0;
    width: 100vw;
    height: 5px;
    font-size: 16px;

}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.footer {
    display: flex;
    padding: 0.1em 0.1em;
    background-color: rgb(0, 0, 0);
    /* border-top-right-radius: 5px;
    border-top-left-radius: 5px; */
    justify-content: center;

}

.footer ul li i {
    color: white;
    padding: 0 1rem;

}
.footer .footer-ul{
    padding: 0%;
}
